/*background on website */
html {
    background-color: #941F4E;
}

/*body has a gradient background  */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: black;
    padding: 2em;
    background: linear-gradient(to bottom, #F0C17C, #df5b4a);
}

/*  grid set up, page links*/
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    padding: 10px;
}

.grid-item {
    background-color: #df5b4a;
    padding: 20px;
    text-align: center;
    border: 1px solid #ddd;
}

/* makes all main titles center */
main {
    text-align: center;
}

ol li {
    margin-bottom: 0.5em;
}

/* For all the links */
a:hover {
    color: #ffffff;
    text-decoration: underline;
}

.container {
    width: 100%;
    margin: auto;
    padding: 2em;
    border: 2px solid #741f0a;
    border-radius: 8px;
    background: #df5b4a;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;

}

/*represented on homepage */
.highlight {
    color: #941F4E;
    font-weight: bold;
}

/* This affects mainly home page image and the links images*/
img {
    display: block;
    margin: auto;
    max-width: 100%;
    height: auto;

}

/* represented on the art page */
.column {
    flex: 1 1 300px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    border: 1px solid #741f0a;
    border-radius: 5px;
    text-align: center;
}

/* navagationl system */
.navbar {
    background-color: #941F4E;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 0;

}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    font-size: 2em;
}


.navbar a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: rgb(41, 40, 40);
}

/* The images in .columns are way bigger than the rest of the page content */
.columns .scalable-img {
    max-width: 40%;
    height: auto;
    display: block;
    margin: auto;
}

/* want the font to be bigger to take up some space */
#font {
    font-size: 2rem;
}

/* making the image smaller */
@media screen and (max-width: 1024px) {

    .columns .scalable-img {
        max-width: 30%;
    }

}

/* making bigger for the in between size */
@media screen and (max-width: 900px) {

    .columns .scalable-img {
        max-width: 40%;
    }

}

/* continues to make it smaller */
@media screen and (max-width: 768px) {
    .columns .scalable-img {
        max-width: 70%;
    }
}

/*font (nav and headers) get bigger but p makes rest of font smaller*/

@media screen and (max-width: 620px) {
    body {
        font-size: 2rem;
    }

    .columns .scalable-img {
        max-width: 80%;
    }

    .navbar ul {
        flex-direction: column;
        align-items: center;
    }

    .navbar a {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }

    p {
        font-size: 1.5rem;
    }
}

/* gave images more size font size goes smaller for readibility*/
@media screen and (max-width: 520px) {
    body {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .columns .scalable-img {
        max-width: 100%;
    }

    #font {
        font-size: 1.5rem;
    }
}

/* makes everything smaller so its easier to read*/
@media screen and (max-width: 360px) {
    body {
        font-size: 2rem;
    }

    .navbar ul {
        font-size: 1.5rem;
    }

    .container {
        margin: 0;
        padding: 0;
    }

    ol li {
        margin-bottom: 0.5em;
        font-size: 1rem;
    }

    p {
        font-size: 1.2rem;
    }

    #font {
        font-size: 1rem;
    }

    #why-frakter {
        font-size: 1rem;
    }

    .grid-container {
        font-size: 1rem;
        max-width: 600%;
    }
}